* {
    box-sizing: border-box;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    margin: 1em;
}

h1, h2 {
    margin: 1em;
}

.inrow {
    flex-direction: row;
    margin-bottom: 1em;
}

input, select {
    margin-bottom: 1em;
}

.button {
    padding: 1em;
    margin-top: 1em;
}